body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bfdbf3;
    color: #03396c;
    overflow-x: hidden;
}

header {
    background-color: #005b96;
    color: #e0f7fa;
    text-align: center;
    padding: 50px 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header h1 {
    margin: 0;
    font-size: 3em;
    animation: slideInFromLeft 1s ease-in-out;
}
header h3 {
    margin: 20px 0 0;
    font-size: 2em;
    animation: slideInFromRight 2s ease-in-out;
}

@keyframes slideInFromLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideInFromRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

header p {
    font-style: italic;
    margin: 20px 0 0;
    font-size: 1.5em;
    animation: fadeIn 2s ease-in-out;
}

section {
    padding: 40px 20px;
    margin: 50px auto;
    max-width: 800px;
    background-color: #dcedf9;
    box-shadow: 5px 10px 18px rgba(0, 91, 150, 0.5);
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center; 
    &:hover{
        transform: scale(1.05);
        transition: 0.5s ease-in-out;
    }
}

section img{
    height: 20rem;
    width: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


h2 {
    color: #03396c;
    border-bottom: 2px solid #03396c;
    padding-bottom: 10px;
    animation: slideInFromBottom 1s ease-in-out;
}

@keyframes slideInFromBottom {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #005b96;
    color: #e0f7fa;
    border-top: 2px solid #03396c;
    animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {
    section {
        margin: 30px;
        padding: 15px;
    }
}
