@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0f75;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.calculator {
    background-color: #333; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.475);
    overflow: hidden;
    width: 100%;
    max-width: 320px;
    transition: transform 0.3s ease-in-out;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2.5rem;
    padding: 20px;
    text-align: right;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.display:focus {
    background-color: #111;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    
    background-color: #444; 
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.459);
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    overflow: hidden;
}

.button:hover {
    background-color: #666;
    transform: scale(1.05);
}

.button:active {
    background-color: #777;
}

.button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.button:active:before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.button:nth-child(4n) {
    background-color: #0044cc; 
    color: #fff;
}

.button:nth-child(4n):hover {
    background-color: #0033aa; 
}

.button:nth-child(4n):active {
    background-color: #002288; 
}

.button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
